:root {
    --primary-white-color: #ffffff;
    --classic-background-color: #f4f4fd;
    --primary-fonts: 'Roboto', sans-serif;
    --brand-color: #404bbf;
    --button-color: #4D5AE5;
    --list-link-menu-color: #404bbf;
    --button-color-change: #404BBF;



}
body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;
}
.link {
    list-style: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
}
.logo {
    color: #2e2f42;
}
.list {
    font-style: normal;
    text-decoration: none;
    list-style: none;
   font-weight: 500px; 
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;
   
}
.list-link-menu {
    
   list-style: none;
   text-decoration: none;
   font-weight: 800;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   color: #2e2f42;

      
}
.list-link-menu:hover,:focus {
    color:var(--list-link-menu-color, #404bbf);
    
}
.list-address {
    list-style: none;
    font-style: normal; 
    line-height: 1.5;

}
.list-link-mail {
    list-style: none;
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;
}
.list-link-mail:hover,:focus {
    color: var(--list-link-menu-color, #404bbf);
}
.list-link-tel {
    font-size: 16px;
    line-height: 1.5px;
    letter-spacing: 0.02em;
    color:#434455;
    text-decoration: none;  
}
.list-link-tel:hover, :focus {
    color: var(--list-link-menu-color, #404bbf);
}
.main-section {
    background-color: #2e2f42;
    
}
.nav-header-1 {
    font-style: normal;

}
.main-h {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff ;

}


.button-list-section {
cursor: pointer;
list-style: none;
text-align: center;
background-color: #4D5AE5;
font-family: 'Roboto', sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #ffffff;
}
.button-list-section:hover, :focus {
    background-color: var(--button-color-change);
}


.list-section-2{
    list-style: none;
}
.list-header {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;

}
.list-p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.list-wawd {
    list-style: none;
}
.list-wawd-h {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.list-our-team {
    background-color: #F4F4FD;
}



.list-team-names {
    list-style: none;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.list-team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-footer {
    background-color: #2e2f42;
}
.link-logo-studio {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}
.link-logo-footer {
    color: #4d5ae5;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.section-footer-text {
    font-size: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}
